body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
}

#filter-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 15%;
    background-color: #fff;
    padding: 15px;
    box-sizing: content-box;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    opacity: .7;
}

#text-bar-filter {
    font-weight: bold;
}

#map {
    width: 100%;
    height: 100%;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 15px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 15%; /* Full-width */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    position: absolute;
    bottom: 169px;
    right: 50px;

  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 300px;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  #legend {
    position: absolute;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 80px;
    margin-bottom: 40px;
    width: 170px;
    top: 240px;
    right: 0px; 
    background-color: #fff;
    opacity: .7;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}