body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
}

#title-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 5%;
}

#title-text {
  position: absolute;
  color:#f6f6f6;
  font-size: 33px;
  top: -20%;
  left: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#filter-bar {
    position: absolute;
    top: 6%;
    right: 0;
    height: 20%;
    max-width: 20%; /* Set a maximum height for the filter-bar */
    overflow-y: auto; /* Enable vertical scroll if content exceeds the max height */
    background-color: #fff;
    padding: 15px;
    box-sizing: content-box;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    opacity: .7;
    border-radius: 25px;
}

#text-bar-filter {
    font-weight: bold;
}

#map {
    width: 100%;
    height: 100%;
}

/* Style for the dropdown container */
.dropdown {
  position: absolute;
  top: 2.4%;
  left: 32%;
  transform: translateY(-50%);
  display: inline-block;
}

/* Style for the dropdown button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style for the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Style for the dropdown arrow */
.arrow {
  display: inline-block;
  margin-left: 5px;
}

/* Display dropdown content when hovering over the arrow */
.dropdown:hover .dropdown-content {
  display: block;
}

  #legend {
    position: absolute;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 120px;
    margin-bottom: 40px;
    width: 300px;
    left: 20px;
    bottom: -1.5%; 
    background-color: #fff;
    opacity: .7;
    font-size: 20px;
    border-radius: 25px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}